
  .boardBackground {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    border: 3px solid black;
    border-radius: 15px;
}

.boardBackground .board {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px;
}

.boardBackground .board button {
    user-focus: none;
    width: 90px;
    height: 90px;
    border: none;
    display: block;
    background: rgba(255, 255, 255, .3);
    margin: 3px 3px;
    font-size: 38px;
    text-align: center;
}

.boardBackground .board button:hover {
    cursor: pointer;
}

.boardBackground .stepLimit {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 2;
}

.boardBackground .levelID {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: dodgerblue;
    border-radius: 20%;
    border: 3px solid #fff;
    font-size: 25px;
    text-align: center;
    transform: rotate(10deg);
    z-index: 1;
    line-height: 42px;
    color: #eee;
    text-shadow: 2px 1px 1px #222;
    box-shadow: 3px 5px 5px #444;
}

.icon {
    background-size: contain;
    width: 50px;
    height: 50px;
    cursor: pointer;
    right: 45px;
}

.boardBackground #undoMove {
    position: relative;
}

.boardBackground .helpers #undoMove{
    position: absolute;
    top: 150px;
    background-image: url('img/go-back-arrow.svg');
}

.boardBackground .helpers #hintShow{
    position: absolute;
    top: 500px;
    background-image: url('img/ask.svg');
}

  @keyframes bounce {
      0%, 20%, 60%, 100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }

      40% {
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
      }

      80% {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
      }
  }