/*@import url('https://fonts.googleapis.com/css?family=Audiowide');*/
/*@import url('https://fonts.googleapis.com/css?family=Orbitron');*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&subset=latin-ext');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alfa Slab One', sans-serif;
}
